.login-outer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -90%);
}

.login-form {
  width: 300px;
}

.login-header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.login-button {
  left: 100%;
  transform: translate(-100%);
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-gap: 10px;
  height: 100vh;
  padding: 50px;
}

.grid-portfolio-container{
  grid-column: 1;
  grid-row: auto;
}

.grid-task-list-container {
  grid-column: 2;
  grid-row: auto;
}

.border {
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.portfolio {
  padding-left: 20px;
  padding-right: 20px;
}

.to-do {
  padding: 20px;
  padding-top: 0px;
}